:root {
  --backgroun-page-color: #e5e5e5;
  --brand-color-white: #ffffff;
  --brand-color-black: #000000;
  --brand-color-blue: #2196f3;
  --brand-color-cream: #ececec;
  --brand-color-grey: #757575;
  --brand-color-background: #2f303a;
}
body {
  font-family: "Roboto", sans-serif;
  color: var(--brand-color-black);
  background: #ffffff;
  font-style: normal;
}
.menu {
  background-color: #ffffff;
}
.menu-link-logo-top {
  color: #000000;
  font-family: "Raleway";
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.menu-logo {
  color: var(--brand-color-blue);
}
.navigation {
  color: #212121;
  background: #ffffff;
}
.link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 1;
  color: #212121;
}
.link:focus {
  color: #2196f3;
  text-decoration: none;
}
.communications-link {
  background: #ffffff;
}
.link-top {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 1, 1;
  color: #757575;
}
.link-top:hover,
.link-top:focus {
  color: #2196f3;
}
.filter {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 1, 6;
  text-align: center;
  color: #212121;
  border-radius: 4px;
  background: #f5f4fa;
  backdrop-filter: #f5f4fa;
}
.model-filter .filter:hover,
.model-filter .filter:focus {
  background-color: #2196f3;
  color: #ffffff;
}
.vital-page {
  background: #2f303a;
}
.title {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  text-align: center;
  letter-spacing: 0.06em;
  text-transform: uppercase;
  color: #ffffff;
}
.click {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 16px;
  line-height: 30px;
  display: flex;
  align-items: center;
  text-align: center;
  letter-spacing: 0.06em;
  background: #2196f3;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  color: #ffffff;
}
.vital-page .click:hover,
.vital-page .click:focus {
  background-color: #2196f3;
}
.model-project {
  background: #ffffff;
}
.model-works {
  background: #ffffff;
  border: #eeeeee;
}
.works-one,
.works-two,
.works-three,
.works-four,
.works-five,
.works-six,
.works-seven,
.works-eight,
.works-nine {
  width: 370px;
  height: 294px;
}
.name-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-three {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-three {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-four {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-four {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-five {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-five {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-six {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-six {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-seven {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-seven {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-eight {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-eight {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.name-nine {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 36px;
  color: #212121;
}
.text-nine {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 30px;
  color: #757575;
}
.finish-block {
  width: 1600px;
  height: 252px;
  background: #2f303a;
}
.finish-logo-bottom {
  color: #2196f3;
  color: #ffffff;
  font-family: "Raleway";
  font-style: normal;
  font-weight: 700;
  font-size: 26px;
  line-height: 31px;
  text-decoration: none;
}
.subtitle-finish {
  color: var(--brand-color-blue);
}
.contact-link {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: #ffffff;
}
.contact-road-one {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  text-decoration-line: underline;
  color: rgba(255, 255, 255, 0.6);
  color: #ffffff60;
}
.contact-road-two {
  font-family: "Roboto";
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.6);
  color: #ffffff60;
}
